* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar css */
.navbar {
    width: 100vw;
    background-color: rgb(29, 29, 29);
    overflow-x: hidden;
    font-family: "Gill Sans", sans-serif;
}

.nav_list {
    padding: 0% 6.5%;
    width: 100%;
    gap: 20px;
}

.nav_list_item {
    list-style-type: none;
    font-size: 1px;
    float: left;
    float: inline-start;
    padding: 1.7% 0% 1.7%  2%;
    list-style-type: none;
}

.nav_list_item1 a {
    font-size: 20px;
padding: 1.3% 1%;
    float: left;
}

.nav_link {
    text-decoration: none;
    color: rgb(115, 114, 114);
    font-size: 17px;
}

/* h1 detail */

.h1_container {
    font-family: "Gill Sans", sans-serif;
    font-size: 1.9em;
    margin-top: 1%;
    padding-left: 100px;
    margin-bottom: 8px;
}

.h1_container p {
    margin-bottom: 14px;
}

#h_span {
    font-family: "Gill Sans", sans-serif;
    font-size: 19px;
    color: #777777;
}

/* main css */

.main {
    overflow-x: hidden;
    overflow: auto;
}

.main1 {
    padding-bottom: 3%;
    margin: 0% 5.5% 0% 5.5%;
}

#main_item3 {
    /* margin-top: 10px; */
    float: right;
}

#main_item2 {
    float: right;
}

#main_item1 {
    float: right;
}

.main_item {
    width: 32%;
    overflow: hidden;
    margin: 1% .5%;
}

.main_item_img {
    width: 100%;
}

.main_item_img img {
    width: 100%;
    height: 100%;
}

.main_item_para {
    font-family: "Gill Sans", sans-serif;
    color: #464848;
}

.footer {
    padding: 25px 0px 15px 100px;
    font-family: "Gill Sans", sans-serif;
    color: #464848;
}

.main_item_h2 {
    margin: 11px 0;
    font-family: "Gill Sans", sans-serif;
    color: #448bca;
    font-size: 21px;
}

@media(max-width:2712px) {
    .h1_container {
        padding: 2% 0% 0% 6.8%;
    }

    .footer {
        padding: 2% 6.5%;
    }
.nav_list{
    padding-left: 6.5%;
}

    body {
        margin-bottom: 2.5%;
    }
}

@media(max-width:900px) {
    .main {
        padding-top: 1.5%;
        padding-bottom: 3%;
        margin-bottom: 1%;
    }
    .h1_container {
        padding: 2% 0% 0% 8%;
    }
    .main_item {
        width: 48%;
    }
    

    .footer {
        padding-left: 53px;
        padding-top: 45px;
        padding-bottom: 2%;
        margin-bottom: 4%;
    }
    .nav_list{
        padding-left: 7.2%;
    }
    .test{
        clear: both;
        float: left !important;
    }
}

@media (max-width:784px) {
    .footer {
        padding: 2% 6.8%;
    }

    .h1_container {
        padding-top: 2%;
    }
    .nav_list_item {
        font-size: 8px;
        padding-top: 10px;
        padding-right: 4px;
    }
    .nav_list_item1{
        padding-left: 3px;
        padding-top: 10px;

    }
}

@media(max-width:600px) {
    .main_item {
        width: 98%;
    }

    .main {
        padding: 3% 0%;
    }

    .h1_container {
        padding: 3.5% 0% 0% 6%;
    }

    .footer {
        padding: 7% 6.5%;
    }
    .nav_list{
        padding-left: 26px;
    }

    
}

@media(max-width:445px) {
    .nav_list_item{
        clear: both;
        padding-left: 40%;
        
    }
    .nav_list_item1{
        clear: both;
        padding-left: 40%;
    }
}

@media(max-width:370px) {
    .h1_container {
        font-size: 20px;
    }

    .h_span {
        font-size: 11px;
    }
}

@media(max-width:340px) {

    #h_span,
    .footer {
        font-size: 14px;
    }

    .footer {
        padding-bottom: 3%;
    }
}
